* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
}

nav {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 15%;
    background-color: rgb(172, 241, 102);
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: green;
    margin: 5px;
}

#mainContainer {
    /* height: 80%; */
    width: 100%;
    background-image: url(../Images/Background\ Image\ Index.jpg);
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    opacity: 90%;
    overflow-y: auto;
}

#footer {
    background-color: rgb(172, 241, 102);
    position: relative;
    height: 5%;
}

.logoWrapper {
    position: absolute;
    left: 10%;
}

.logos {
    width: 150px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    width: 30%;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-links li {
    list-style: none;
    display: inline-block;

}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: green;
}

.nav-links li a:hover {
    color: yellow;
    transition: .3s;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 100);
    background-color: rgb(247, 247, 100, 0.7);
    border-radius: 20px;
    padding: 20px;
    margin-inline: auto;
    margin-top: 80px;
    width: fit-content;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .nav-links {        
        width: 50%;
    }
}

@media screen and (min-width:1025px) and (max-width:1200px) {
    .nav-links {        
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90%;
        top: 10%;
        background-color: rgb(172, 241, 102);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 999;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
    }
    #mainContainer {
        opacity: 1;
    }
}

.nav-active {
    transform: translateX(0%);   
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#mb-10 {
    margin-bottom: 10px;
}

#map-marker {
    color: red;
}

#phone {
    color: blue;
}

#envelope {
    color:rgba(66, 190, 25, 0.619);
}

#mb-5 {
    margin-bottom: 5px;
    font-weight: bold;
}

.card ul li i:hover {
    margin-top: -3px;
}

#mainActivityContainer {
    /* height: 80%; */
    width: 100%;
    background-color: white;
    background-size: cover;    
    background-repeat: no-repeat;
    opacity: 100%;
    overflow-y: hidden;
}

.carouselLeft {
    position: relative;
    height: 500px;
    width: 70%;
    opacity: 100%;
    padding-left: 10px;
}

.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover !important; /* Another option is: contain */
  
}

.carousel_track-container {
    /* background: rgb(172, 241, 102); */
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
 
.carousel_button {
    position: absolute;
    top: 50%;
    background: transparent;
    background-color: white;
    opacity: 0.5;
    transform: translateY(-50%);
    border: 0;
    z-index: 999;
}

.carousel_button_contain_image_opacity {
    opacity: 1;
    z-index: 1000;
}

.carousel_button img {
    width: 20px;
}

.carouselLeft_button-left {
    left: 10px;
    z-index: 999;
}

.carouselRight_button-left {
    z-index: 999;
}

.carouselLeft_button-right {
    right: 0px;
}

.carouselRight_button-right {
    right: 10px;
}

.carousel_nav {
    /* background: rgb(172, 241, 102); */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0, 0.3);
    margin: 0 12px;
}

.carousel_indicator.current-slide {
    background: rgb(0, 0, 0, 0.75);
}

.is-hidden {
    display: none;
}


#mainHomepageContainer {
    height: 80%;
    width: 100%;
    overflow-y: auto;   
}

.gif {
    position: fixed;
    opacity: 0.7;
    width: inherit;
    height: 100%;
    object-fit: cover;
}

.alignTextToCenter {
    text-align: center;
}


.activityCardLeft {
    background-color: rgb(247, 247, 100);
    background-color: rgb(247, 247, 100, 0.7);
    border-radius: 20px;
    padding: 100px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
}

.activityCardRight {
    background-color: rgb(247, 247, 100);
    background-color: rgb(247, 247, 100, 0.7);
    border-radius: 20px;
    padding: 100px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
}


.carouselRight {
    position: relative;
    height: 500px;
    width: 70%;
    opacity: 100%;
    padding-right: 10px;
}

#fullpage {
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    max-width: 80%;
    object-fit: cover;    
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#mainContactContainer {
    height: 85%;
    width: 100%;
    background-image: url(../Images/Background\ Image\ Index.jpg);
    background-color: white;
    background-size: cover;    
    background-repeat: no-repeat;
    opacity: 100%;
    overflow-y: hidden;
}

#mainServiceContainer {
    height: 80%;
    width: 100%;
    background-image: url(../Images/Background\ Image\ Index.jpg);
    background-color: white;
    background-size: cover;    
    background-repeat: no-repeat;
    opacity: 100%;
    overflow-y: hidden;
}

.size-13 {
    font-size: 13px;
    display: flex;
}

.plag {
    color: green;
    padding-left: 25px;
    
}

.footer-flex {
    list-style: none;
    display: flex;
    margin: 0;
}

.textCenter {
    text-align: center;
}

.sec {
    display: flex;
}

.ul-ident {
    padding-left: 25px;
    font-size: 17px;
}

/* .card ul li i:hover {
    margin-top: -3px;
} */

/* footer ul.footer-flex li i:hover {
    margin-top: -3px;
} */

footer ul li i:hover {
    margin-top: -3px;
} 

li img:hover {
    cursor: pointer;
}

.fullscreenImage {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}



